* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    margin: 1rem;
}

.box-header{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    height: 40rem;
    background-color: aquamarine;
}

.menu{
    width: 1200px;
    margin: auto;
    align-items: center;
    display: flex;
    height: 2rem;
    margin-top: 1rem;   
    background-color: orange;
    border-style: dashed;
    
}   

.logo{
    padding-left: 1rem;
    width: calc(25%);
    display: flex;
    border-right-style: dashed;
}

.link{
    justify-content: center;
    width: calc(50%);
    padding: 0 10rem 0 10rem;
    display: flex;
}

.login{
    justify-content: flex-end;
    width: calc(25%);
    padding-right: 1rem;
    display: flex;
    border-left-style: dashed ;
}

.blu-box{
    margin-top: 1rem;
    display: flex;
    height: 560px;;
    width: 100vw;
    background-color: blue;
}

.big-box{
    margin: auto;
    display:flex;
    background-color: palevioletred;
    height: 400px;
    width: 1200px;
    border-style: dashed;
}
/* fine header */

/* main */

/* primo box */
.box-main{
    display: flex;
    height: 600px;
}

.container{
    margin: auto;
    width: 1200px;
    display: flex;
}
.box-blu{
    background-color: blue;
    width: calc(60%);
    height: 30rem;
    border-style: dashed;
}

.box-pink{
    background-color: pink;
    width: calc(40%);
    height: 30rem;
    border-style: dashed;
    
}

/* secondo box */

.box-main1{
    background-color: lightgray;
    display: flex;
    height: 600px;
}

.container{
    margin: auto;
    width: 1200px;
    display: flex;
}
.box-blu1{
    background-color: pink;
    width: calc(60%);
    height: 30rem;
    border-style: dashed;
}

.box-pink1{
    background-color: blue;
    width: calc(40%);
    height: 30rem;
    border-style: dashed;
}
 /* terzo box */
 .container{
    margin: auto;
    width: 1200px;
    display: flex;
}
.box-blu{
    background-color: blue;
    width: calc(60%);
    height: 30rem;
    border-style: dashed;
}

.box-pink{
    background-color: pink;
    width: calc(40%);
    height: 30rem;
    border-style: dashed;
    
}
/* box verde */
.grey-box{
    margin-top: 1rem;
    display: flex;
    height: 1300px;;
    width: 100vw;
    background-color: lightgray;
}

.green-box{
    margin: auto;
    display:flex;
    background-color: green;
    height: 1000px;
    width: 1200px;
    border-style: dashed;
}
/* fine box verde */